[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
python-dotenv = "*"
pandas = "*"
scikit-learn = "*"
nbconvert = "*"
seaborn = "*"
traitlets = "*"
scipy = "*"
plotly = "*"
watchdog = "*"
mpld3 = "*"
streamlit = "==1.11.1"
pika = "*"
pillow = "*"
streamlit-autorefresh = "*"
protobuf = "==3.19.5"
fastapi = "*"
modin = {extras = ["ray"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
