matplotlib
psycopg2-binary
sqlalchemy
python-dotenv
pandas
wheel
scikit-learn
nbconvert
seaborn
traitlets
scipy
plotly
watchdog
mpld3
streamlit==1.11.1
pika
Pillow
streamlit-autorefresh
protobuf==3.19.5
fastapi
faker
modin[ray]
cx_Oracle